<!-- Sidebar -->
<div class="sidebar-fixed position-fixed">

    <a class="logo-wrapper waves-effect">
      <img src="https://mdbootstrap.com/img/logo/mdb-email.png" class="img-fluid" alt="">
    </a>

    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item active waves-effect">
        <i class="fas fa-home mr-3"></i>Home Page
      </a>
      <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-user mr-3"></i>Customers</a>
      <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-table mr-3"></i>Appointments</a>
      <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fab fa-nutritionix mr-3"></i>Diet Plan</a>
      <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-utensils mr-3"></i>Foods</a>
    </div>

  </div>
  <!-- Sidebar -->